name: Package & Release

# The workflow to build and release official Kong packages and images.
#
# TODO:
# Do not bump the version of actions/checkout to v4 before dropping rhel7 and amazonlinux2.

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
    - master

jobs:
  debug:
    name: Debug
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Build Info
      env:
        AAA: ${{ ! startsWith('centos', 'centos') || '' && 'abc' }}
        BBB: ${{ ! startsWith('debian', 'centos') || '' && 'abc' }}
      run: |
        echo ${{ github.event.pull_request.head.sha }}
        echo ${{ github.sha }}
        echo ${{ env.AAA }}
        echo ${{ env.BBB }}
